Title: Azure DevOps new
Order: 9
---
@using NJsonSchema;

@{
    var definition = Context.Outputs
        .FromPipeline("SchemaPipeline")
        .First()
        .GetChildren("Definitions")
        .OfType<ObjectDocument<JsonSchema>>()
        .First(x => x.Destination == "AzureDevOpsConfiguration")
        .Object; 
}

<h2>Required fields</h2>

<table class="table">
    <tr>
        <th>Field</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    @foreach (var (key, value) in definition.Properties.Where(x => x.Value.IsRequired))
    {
        <tr>
            <td>@key</td>
            <td>@value.Type.ToString()</td>
            <td>@value.Description</td>
        </tr>
    }
</table>

<h2>Optional fields</h2>

<table class="table">
    <tr>
        <th>Field</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    @foreach (var (key, value) in definition.Properties.Where(x => !x.Value.IsRequired))
    {
        <tr>
            <td>@key</td>
            <td>@value.Type.ToString()</td>
            <td>@value.Description</td>
        </tr>
    }
</table>